<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.tiny.cloud/1/kaaf4o7jxmlkc9tcrky2avxjor545dy2e13namvnpj5zhcz5/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
    tinymce.init({
        selector: "#section",
        inline: true,
        plugins: ["quickbars"],
        quickbars_selection_toolbar:
            "styleselect | bold italic forecolor | removeformat",
        quickbars_insert_toolbar: false,
        menubar: false,
        toolbar: false,
});
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/kaaf4o7jxmlkc9tcrky2avxjor545dy2e13namvnpj5zhcz5/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
    </script>

    <script lang="javascript">
        var SERVER = "http://localhost:5000/api/1.0/"
        var WPUUID = "{{WP_UUID}}"
        var tinyEditor = null;
        var TEXTEDS=null;
        console.log(TEXTEDS);
        $(document).ready(function(){

            // jQuery methods go here...
            $("#theButton").on("click", () => {
                console.info("INFO: pressed the button");
                var ed = tinymce.activeEditor;
                tag=ed.id.replace("texteditor-","");
                console.log(tag);
                $.get(SERVER+"getwp", data={ "uuid":WPUUID, "tag": tag}, (data) => {
                    text = data["text"];
                    if (tinyEditor!=null) {
                        // tinymce.get('#texteditor').setContent(data);
                        ed.setContent(text);
                    } else {
                        alert("We reseived a text, but cnnot edit it^ "+text);
                    }
                });
            });

            $("#saveButton").on("click", () => {
                console.info("Save pressed");
                var ed = tinymce.activeEditor;
                tag=ed.id.replace("texteditor-","");
                console.log(tag);
                $.ajax(SERVER+"savewp", data={
                    data : JSON.stringify({
                        "uuid":WPUUID, 
                        "text":tinymce.activeEditor.getContent(),
                        "tag":tag}),
                    contentType : 'application/json',
                    type : 'POST'}, (data) => {
                    var err = data["error"]
                    if (err!=0) {
                        $("#alertBox").text("Could'nt save correctly:"+err);
                    } else {
                        $("#alertBox").text("Sucessfully aved!");
                    }
                });
            });
            $("#saveGraphButton").on("click", () => {
                $.post(SERVER+"saveGraph", (data) => {
                    $("alertBox").text("Saved Successfully!");
                    console.info("Saved the gaph successfully!");
                })
            });
            })
    </script>
</head>

<body>
     <section id="title">
        <button type="button" class="btn btn-info">Edit Metadta</button>
        <p align="center"><b>МИНИСТЕРСТВО ОБРАЗОВАНИЯ И НАУКИ РОССИЙСКОЙ ФЕДЕРАЦИИ</b><br/>
            Федеральное государственное бюджетное образовательное учреждение высшего образования</p>
        <p align="center"><b>«ИРКУТСКИЙ ГОСУДАРСТВЕННЫЙ УНИВЕРСИТЕТ»</b><br/>ФГБОУ ВО «ИГУ»</p>
        <p align="center">ИНСТИТУТ МАТЕМАТИКИ И ИНФОРМАЦИОННЫХ ТЕХНОЛОГИЙ</p> 
        <p align="center"><b>Кафедра информационных технологий</b>
       <p></p>
        
    </textarea>
    </section>
     <section>
         <table width="100%">
             <tr>
                 <td>
        <form method="post">
            <textarea id="texteditor-problem" data-tag="aim" class="edit-text"> Here will be edited something! </textarea>
          </form>
          </td>
          <td>
            </tr>
            <tr>
        Цели и Задачи:<br/>
        <form method="post">
            <textarea id="texteditor-aim" data-tag="problem" class="edit-text"> Here will be edited something! </textarea>
          </form>
        </td>
        </tr>
        <!--i forgot but its important!!!-->
      </section>
    <script>
            TEXTEDS = []; 
            tinyEditor = $(".edit-text").each(function () {
                TEXTEDS.push(this.id);
            });
            console.log(TEXTEDS);
            tinymce.init({
                selector: ".edit-text"
            });
    </script>
    <button id="theButton" type="button" class="btn btn-primary">Load</button>
    <button id="saveButton" type="button" class="btn btn-primary">Save</button>
    <button id="saveGraphButton" type="button" class="btn btn-info">Save Graph</button>
   <!---<div class="alert alert-primary" role="alert" id="alertBox">
        This is a primary alert—check it out!
      </div>--> 
<script lang="javascript">
     
</script>

</body>

</html>
